.App {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    text-align: center;
}

h2 {
    color: blue;
}

strong {
    color: orange;
}

label {
    margin: 5px;
    display: inline-block;
}

input[type="radio"], textarea {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 5px;
    transition: box-shadow 0.3s ease;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="radio"]:focus, textarea:focus {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    outline: none;
}

textarea {
    width: 100%;
    max-width: 500px;
    min-height: 80px;
    resize: vertical;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
    box-shadow: none;
}

button:hover {
    background-color: darkblue;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 480px) {
    .App {
        padding: 10px;
    }

    textarea {
        width: 100%;
    }
}

.chart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    margin: 20px 0;
}

.chart-container > canvas {
    max-width: 450px;
    width: 100%;
}

.respondent-table {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.table-header, .table-body {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.table-body > div {
    border: 1px solid #d4d4d4;
    width: 48%;
}

.table-body > div > div {
    border-bottom: 1px solid #d4d4d4;
    padding: 5px;
}

.table-body > div > div:last-child {
    border-bottom: none;
}

.table-header > div {
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
